<h1>User Dashboard</h1>

<div>
  <h3><%= link_to "Create a new event!", new_event_path %></h3>
</div>


<div>
  <% if @user.events.any? %>
    <div>
      <table>
        <h2>My Past Events</h2>
        <%= render partial: 'event', collection: @user.events.past %>
      </table>
      <table>
        <h2>My Upcoming Events</h2>
        <%= render partial: 'event', collection: @user.events.future %>
      </table>
    </div>
  <% end %>
</div>

<div>
  <% if @user.invitations.any? %>
    <table>
      <h2>Invites Received</h2>
      <% @user.invitations.where(accepted: false).each do |inv| %>
        <tr>
          <%= render partial: 'display_invites', locals: {event_id: inv.attended_event_id} %>
          <td><%= link_to  "Accept",  accept_path(event: event, guest: @user.id), method: :post %></td>
          <td><%= link_to "Decline", decline_path(event: event, guest: @user.id), method: :post %></td>
        </tr>
      <% end %>
      <h2>Events I'm Attending</h2>
      <% @user.invitations.where(accepted: true).each do |inv| %>
        <tr>
          <% event_id = inv.attended_event_id %>
          <%= render partial: 'display_invites', locals: {event_id: event_id} %>
          <% if Event.future.find_by(id: event_id) %>
            <td><%= link_to "Cancel", decline_path(event: event, guest: @user.id), method: :post %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>