<%= form_for @event do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
    
  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
    
  <div>
    <%= f.label :datetime %>
    <%= f.datetime_local_field(:datetime) %>
  </div>
  
  <%= f.submit "#{yield(:submit)}" %>
<% end %>