<h1><%= @event.name %></h1>

<div>
  <strong><%= @event.location %></strong>
</div>

<p><%= @event.datetime %></p>

<strong>Confirmed Guests:</strong>

<% if guests_attending?(@event) %>
  <ul>
  <% guest_list(@event).each do |g| %>
    <li>
      <%= g.name %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if @event.host == current_user %>
  <%= link_to "Invite people to your event!", new_invitation_path(event: {attended_event_id: @event.id}) %>
<% end %>