<h1><%= @event.name %></h1>

<div>
  <strong><%= @event.location %></strong>
</div>

<p><%= @event.datetime %></p>

<strong>Confirmed Guests:</strong><br />

<ul>
  <% guest_list(@event).each do |g| %>
    <li>
      <%= g.name %>
    </li>
  <% end %>
</ul>

<% if @event.host == current_user %>
  <%= link_to "Invite people to your event!", new_invitation_path(event: {attended_event_id: @event.id}) %>
  <%= link_to "Edit your event.", edit_event_path(@event) %>
  <%= link_to "Cancel your event.", @event, method: :delete %>
<% end %>