<h1>Invite people to your event!</h1>

<%= form_for @invitation do |f| %>

  <div>
    <%= f.label :guests %>
    <%= f.text_field :guest_ids %>
  </div>
  
  <%= f.hidden_field :attended_event_id, value: "#{params[:event][:attended_event_id]}" %>
  
  <%= f.submit "Send Invites!" %>
  
<% end %>